.locales-select {
  margin: 0 auto;
  height: 40px;
  width: 55px;
  font-size: 14px;
  display: block;
  border: 0;
  background-color: transparent;
  font-family: monospace;

  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
