$mobile-breakpoint: 768px;
$nav-width: 20vw;
$nav-width-mobile: 60%;
$nav-width-mobile-collapsed: 40px;

$clr-primary: #000;
$clr-white: #fff;
$clr-danger: red;
$clr-selected-bg: #f8fafb;
$clr-highlight: #4790e5;

$shadow-elevate: 0 6px 6px -1px rgba(10, 22, 70, 0.1), 0 0 1px 0 rgba(10, 22, 70, 0.06);