@import '../styleguide/variables.scss';
$clr-expense-active-bg: #f8fafb;

.expense {
  padding: 20px;
  border-radius: 5px;
  transition: all .3s linear;
  cursor: pointer;
  &:hover {
    background-color: $clr-expense-active-bg;
  }
}

.expense--active {
  background-color: $clr-expense-active-bg;
  box-shadow: 0 6px 6px -1px rgba(10, 22, 70, 0.1), 0 0 1px 0 rgba(10, 22, 70, 0.06);
  z-index: 1;
  position: relative;
  transform: translate(30px, 0);
}

.expense__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

$amount-width: 100px;
$logo-size: 50px;
$logo-margin: 20px;

.expense_logo {
  width: $logo-size;
  height: $logo-size;
  line-height: $logo-size;
  color: #fff;
  font-size: 22px;
  border-radius: 50%;
  margin-right: $logo-margin;
  text-align: center;
}

.expense__info {
  width: calc(100%  - #{$logo-size} - #{$logo-margin} - #{$amount-width});
}

.expense__merchant {
  margin-top: 0;
  text-transform: capitalize;
}

.expense__amount {
  color: #8a899f;
  font-size: 1.1rem;
  width: $amount-width;
  text-align: right;
}

.expense__user {
  font-size: .8rem;
  color: #666;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.expense__comment {
  border-left: 2px solid #cde0f7;
  padding: 10px;
  word-break: break-all;
  line-height: 1.5;
  &:empty {
    display: none;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .expense--active {
    background-color: $clr-expense-active-bg;
    box-shadow: 0 6px 6px -1px rgba(10, 22, 70, 0.1), 0 0 1px 0 rgba(10, 22, 70, 0.06);
    z-index: 1;
    transform: translate(0, 0);
  }
}
