@import './components/styleguide/variables.scss';

.container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - #{$nav-height});
}

.left {
  width: 50%;
  border-right: 1px solid #ccc;
  position: relative;
}

.right {
  width: 50%;
}

@media screen and (max-width: $mobile-breakpoint) {
  .container {
    flex-direction: column;
    & > * {
      width: 100%;
      border: none;
    }
  }
}