.navigation {
  padding: 20px 45px;
  height: 75px;
  text-align: left;
  box-shadow: rgba(12, 13, 14, 0.2) 0px 1px 3px 0px;
}

.navigation__home-link {
  display: block;
}

.navigation__logo {
  width: 80px;
}